@model IEnumerable<Deft2.Models.LocationViewModel>
@*@using PagedList.Mvc;*@
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Location";
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


<h3 class="alert alert-success">Locations</h3>

@*  FILTER SEARCH BAR *@
@using (Html.BeginForm("Index", "Location", FormMethod.Get))
{
    <p>
        Find by location: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationNameSortParm, currentFilter=ViewBag.CurrentFilter })
            </th>

            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ClosedSunday)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ClosedSunday)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LocationId })
                </td>
            </tr>
        </tbody>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))
