@model IEnumerable<Deft2.Models.PositionViewModel>

@{
    ViewBag.Title = "Position";
}

<h3 class="alert alert-success">Positions</h3>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


@*  ADDING SEARCHING FUNCTIONALITY TO THE PAGE  *@
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Search"/>
    </p>
}

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionTitle)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PositionId })
                </td>
            </tr>
        </tbody>
            }
</table>
